/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 15px 0;
}

header .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff !important;
    font-size: 1.1rem;
    margin-right: 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f9a825 !important;
    transition: color 0.3s ease-in-out;
}

.nav-links a {
    color: #100f0f;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-item .dropdown {
    color: #fff !important;
    font-size: 1.1rem;
    margin-right: 15px;
}

.nav-link .dropdown {
    color: #fff !important;
    font-size: 1.1rem;
    margin-right: 15px;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    min-width: 160px;
    top: 40px;
    border: 1px solid #0c0c0c;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    color: #f9a825 !important;
    transition: color 0.3s ease-in-out;
    display: block;
}

.dropdown-content a {
    padding: 0.5rem 1rem;
    display: block;
    color: #100f0f;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #f9a825 !important;
    transition: color 0.3s ease-in-out;
    display: block;
    background-color: #f2f2f2;
}

/* Section Styles */
.section {
    padding: 50px 20px;
    text-align: center;
}

.hero {
    background: url('./crop-field.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.features .feature {
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea, .contact-form button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
    display: block;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
}

.contact-form button {
    padding: 0.75rem;
    background-color: #2E8B57;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-info {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #555;
}